{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Python Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="roles.png" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What does<mark>Our Program do</mark>?</h5>
                    <p class="card-text">
                        <ol>
                            <li>The watchers is a program that lets the user pick a designated stopwatch for their study habits. The program allowed the user to have optional updates and a custom amount of time.</li>
                           
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/flask.png') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Link to my<mark>Fastpages</mark></h5>
                    <p class="card-text">
                        <ol>
                        </ol>
                    </p>
                    <a href="https://jagermi3ster.github.io/The-Pentagon/" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='static/assets/group.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Who <mark>are</mark> our team members</h5>
                    <p class="card-text">
                        <ol>
                            <li>We're called "The Watchers"...because we're making "Work Watch".
                                This is a team made up of Drew Reed, Devon Shepherd, Trent Cardall and Jagger Klein.
                                For more information about our roles, our work process, the purpose of this program, and the anticipated code behind it, click the button below.
                                Expect more information (including progress reports) in the near future!</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}